<style>
  me p.action_new { float: right; }
</style>
<div id="trunks">
  <p class="action_new" hx-get="/voip_trunks/new"> Agregar Troncal</p>
  <table>
    <thead>
      <tr>
        <th>name</th>
        <th>host</th>
      </tr>
    </thead>
    <tbody>
      <% @trunks.each do |trunk| %>
        <tr>
          <style>
            me td { border: 2px solid #a9a9a9; }
            me td[n1] { border: 2px solid green; }
          </style>
          <td><%= trunk.name %></td>
          <td><%= trunk.host %></td>
          <td n1>
            <p hx-delete="/voip_trunks/<%= trunk.id %>"
            hx-swap="outerHTML", hx-target="#trunks">
            [x]
          </p> 
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


