<style>
  me p.action_new { float: right; }
</style>
<div id="customers">
  <p class="action_new" hx-get="/customers/new"> Agregar Cliente </p>
  <table>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <style>
            me td { border: 2px solid #a9a9a9; }
            me td[n1] { border: 2px solid green; }
          </style>
          <td><%= customer.name %></td>
          <td n1>
            <p hx-delete="/customers/<%= customer.id %>"
            hx-swap="outerHTML", hx-target="#customers">
            [x]
          </p> 
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


