<h1>HTMX Test#test</h1>
<p>

htmx is a JavaScript library that allows you to create web pages with dynamic
behavior without having to write a lot of JavaScript code. It enables you to
update parts of a web page without reloading the entire page, making your web
applications more responsive and interactive. htmx works by adding attributes to
your HTML elements that define how they should behave when certain events occur,
such as clicking a button or submitting a form. It is lightweight, easy to use,
and can be integrated with existing web applications seamlessly.
</p>
  <button hx-get="/api/data" hx-target="#result">Load Data</button>
  
  <div id="result"></div>
