<style>
  me form { float: right; margin-right: 2em;}
  me label { font-size: 1.2rem; }
</style>
<form hx-post="/subscribers" hx-target="#subscribers" hx-swap="outerHTML">
   <label for="username">Username:</label>
   <input type="text" id="username" name="username" required class="form-control">
   <br/>
   <label for="password">Password:</label>
   <input type="password" id="password" name="password" required class="form-control">
   <br/>
   <label for="domain">Dominio:</label>
   <%= render '/domains/menu' %>
   <br/>
   <label for="customer">Cliente:</label>
   <%= render '/customers/menu' %>
   <br/>
   <button> Agregar Subscriptor </button>
</form>

